/* src/styles/forgotPassword.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #B2FDBA;
    font-family: 'Roboto', sans-serif;
}

.esqueceu-a-senha {
    width: 100%;
    position: relative;
    background-color: #b2fdba;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #21272a;
}

.page-content {
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
    background-color: #fff;
    border: 2px solid #01ab45;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 24px;
}

.section-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
}
.paragraph {
    font-size: 18px;
}
.label-and-field {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;
}

.label-nome {
    position: relative;
    line-height: 140%;
    font-size: 14px;
}

.field {
    align-self: stretch;
    background-color: #f2f4f8;
    border: none;
    border-bottom: 2px solid #c1c7cd;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 12px;
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
    transition: border-color 0.3s ease;
}

.field:focus {
    outline: none;
    border: 2px solid #01ab45;
    border-radius: 4px; 
}

.text-field {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-text {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 100%;
    font-weight: 500;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}

.button {
    align-self: stretch;
    border-radius: 16px;
    background-color: #01ab45;
    border: none;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
    
}

.button:hover {
    transform: scale(1.05);
    background-color: #018a35;
}

.form-2-fields-checkbox-b {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0px 0px;
    gap: 16px;
    text-align: left;
    font-size: 14px;
}

@media (max-width: 576px) {
    .esqueceu-a-senha {
        font-size: 18px;
    }

    .page-content {
        padding: 20px;
        width: 95%;
    }

    .field {
        height: 40px;
        padding: 0 12px;
        font-size: 14px;
    }

    .button {
        height: 40px;
        font-size: 14px;
    }
}
