@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #B2FDBA;
}

.page-content {
    width: 540px;
    min-height: 260px; 
    border-radius: 16px;
    background-color: #fff;
    border: 2px solid #01ab45;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px; 
    gap: 24px;
    text-align: center; 
}

.secondary-headline {
    font-size: 24px; 
    font-weight: 700; 
    color: #21272a;
}

.paragraph {
    font-size: 18px;
    line-height: 140%;
    color: #21272a; 
    padding-top: 10px;
    width: 400px;
}

.button {
    border: none; 
    border-radius: 12px;
    background-color: #01ab45;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 64px; 
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    transition: background-color 0.3s ease;
    width: 400px;
    font-weight: 550;
    margin-top: 24px; /* Aumenta o espaçamento entre o botão e o último field */
}

.button:hover {
    background-color: #019639;
}

.label {
    font-weight: bold; /* Coloca os labels em negrito */
    
}

.label-and-field {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px; /* Aumenta o espaçamento entre os campos */
    width: 100%;
}

.field {
    background-color: #f2f4f8;
    border: 1px solid transparent; /* Remove a borda preta nos inputs */
    border-bottom: 1px solid #c1c7cd;
    box-sizing: border-box;
    height: 40px; /* Diminui a altura dos inputs */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    font-size: 16px;
    color: #697077;
    width: 100%;
}

.field:focus-within {
    border: 2px solid #01AB45;
    border-radius: 4px;
    outline: none;
}

input[type="email"] {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #000000;
}

input[type="email"]:focus {
    border-color: #01AB45;
    border-radius: 4px;
    border-width: 2px;
    outline: none;
}
