
#menu-lateral {
    position: fixed;
    width: 248px;
    height: 100%;
    background-color: #FFFFFF;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 900;
}

#menu-lateral.open {
    transform: translateX(0);
}

.mobile-menu-button {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.botao-menu {
    background: none;
    border: none;
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#logo {
    margin-right: 10px;
}

#logo-icons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.menu-icon:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.botao-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border: none;
    font-weight: bold;
}

.botao-menu:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

.botao-menu.active {
    background-color: #dde1e6;
}

.botao-menu img {
    margin-right: 10px;
}

@media (max-width: 576px) {
    #menu-lateral {
        width: 250px; /* Largura menor para mobile */
        transform: translateX(-100%);
    }

    #menu-lateral.open {
        transform: translateX(0);
    }

    .mobile-menu-button {
        display: block;
    }
}
